*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 36px;
  top: 37px;
  width: 428px;
  height: 71px;
	animation: slideInRight 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 98px;
  top: 377px;
  width: 382px;
  height: 283px;
    animation: fadeInLeft 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 507px;
  top: 396px;
  width: 419px;
  height: 269px;
    animation: fadeInRight 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 617px;
  top: 425px;
  width: 277px;
  height: 42px;
	animation: revealHorizontal 2s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	clip: rect(0px,0px,41px,0px);
	z-index: 8;
}

.s1_6 {
	position: absolute;
  left: 205px;
  top: 470px;
  width: 170px;
  height: 44px;
    animation: flashLong 3s infinite;
    animation-delay: 2.5s;
    animation-fill-mode: both;
	z-index: 8;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes revealVerticalRev {
  0% {
    clip: rect(160px,4px,160px,0px);
  }
  
  100% {
    clip: rect(0px,4px,160px,0px);
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,41px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,430px,41px,0px);
	opacity: 1;
  }
}

@keyframes revealHorizontalRev {
  0% {
    clip: rect(0px,120px,50px,120px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,120px,50px,0px);
	opacity: 1;
  }
}