* {
  margin: 0px;
  padding: 0px;
}

.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.option1 {
  position: absolute;
  left: 220px;
  top: 366px;
  width: 100px;
  height: 43px;
  animation: flashLong 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.option2 {
  position: absolute;
  left: 559px;
  top: 366px;
  width: 91px;
  height: 44px;
  animation: flashLong 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.logo1 {
  position: absolute;
  left: 356px;
  top: 620px;
  width: 312px;
  height: 25px;
  animation: slideInUp 0.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.logo2 {
  position: absolute;
  left: 343px;
  top: 652px;
  width: 338px;
  height: 91px;
  animation: zoomIn 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}
