* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 90px;
  top: 451px;
  width: 843px;
  height: 258px;
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s2_1, .s2_2, .s2_3, .s2_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.s2_pop1 {
	position: absolute;
  left: 75px;
  top: 441px;
  width: 217px;
  height: 266px;
	z-index: 10;
}

.s2_pop2 {
	position: absolute;
  left: 295px;
  top: 441px;
  width: 217px;
  height: 266px;
	z-index: 10;
}

.s2_pop3 {
	position: absolute;
  left: 515px;
  top: 441px;
  width: 217px;
  height: 266px;
	z-index: 10;
}

.s2_pop4 {
	position: absolute;
  left: 735px;
  top: 441px;
  width: 217px;
  height: 266px;
	z-index: 10;
}

.s2_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}