* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 459px;
  top: 303px;
  width: 50px;
  height: 124px;
  animation: rotateOut 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_3 {
  position: absolute;
  left: 516px;
  top: 333px;
  width: 349px;
  height: 83px;
  animation: fadeOut 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.furic_wrap {
  position: absolute;
  left: 450px;
  top: 320px;
  animation: slideDown 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_4 {
  position: absolute;
  left: 8px;
  top: 0px;
  width: 51px;
  height: 126px;
  animation: rotateIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_5 {
  position: absolute;
  left: 68px;
  top: 13px;
  width: 454px;
  height: 84px;
  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_6 {
  position: absolute;
  left: 459px;
  top: 303px;
  width: 406px;
  height: 124px;
  animation: slideUp 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes slideDown {
  0% {
    top: 320px;
  }

  100% {
    top: 400px;
  }
}

@keyframes slideDown {
  0% {
    top: 320px;
  }

  100% {
    top: 400px;
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}


@-webkit-keyframes slideUp {
  0% {
    top: 320px;
	opacity: 0;
  }

  100% {
    top: 240px;
	opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    top: 320px;
	opacity: 0;
  }

  100% {
    top: 240px;
	opacity: 1;
  }
}

.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
}