* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.popup {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.pop_open {
	position: absolute;
  left: 792px;
  top: 317px;
  width: 197px;
  height: 210px;
	z-index: 10;
}

.pop_close {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}