* {
	margin: 0px;
	padding: 0px;
}

.background1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.background2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: fadeIn 0.1s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	display: none;
	z-index: 2;
}

.bottleWrap {
	position: absolute;
  left: 85px;
  top: 337px;
  width: 173px;
  height: 374px;
	z-index: 3;
}

.pulseIn {
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.bottle {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 174px;
  height: 376px;
	z-index: 3;
}

.slideToleft {
  animation: slideToLeft 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}


@keyframes slideToLeft {
  0% {
    left: 116px;
  }

  100% {
    left: 710px;
  }
}
