*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 105px;
  top: 445px;
  width: 335px;
  height: 170px;
	animation: revealVertical 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	clip: rect(0px,350px,0px,0px);
	z-index: 3;
}

.s1_3 {
	position: absolute;
  left: 580px;
  top: 440px;
  width: 350px;
  height: 53px;
	animation: fadeInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_4 {
	position: absolute;
  left: 699px;
  top: 508px;
  width: 113px;
  height: 112px;
	animation: stampIn 0.2s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_5 {
	position: absolute;
  left: 590px;
  top: 309px;
  width: 434px;
  height: 172px;
	animation: slideInRight 0.5s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 3;
}


.s1_6 {
	position: absolute;
  left: 673px;
  top: 232px;
  width: 325px;
  height: 62px;
	animation: fadeInUp 0.5s;
	animation-delay: 4.3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_7 {
	position: absolute;
  left: 645px;
  top: 341px;
  width: 353px;
  height: 113px;
	animation: zoomIn 0.5s;
	animation-delay: 5.3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 3;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes revealVertical {
  0% {
    clip: rect(0px,350px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,350px,180px,0px);
	opacity: 1;
  }
}


@keyframes revealVerticalRev {
  0% {
    clip: rect(200px,300px,200px,0px);
  }
  
  100% {
    clip: rect(0px,300px,200px,0px);
  }
}