* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.logowrap {
  position: absolute;
  left: 624px;
  top: 408px;
  width: 48px;
  height: 230px;
  animation: pulse 1s infinite;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  z-index: 2;
}

.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 230px;
  animation: revealVerticalRev 2s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  clip: rect(0px,268px,0px,0px);
  z-index: 2;
}


@keyframes revealVerticalRev {
  0% {
    clip: rect(0px,100px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,100px,500px,0px);
	opacity: 1;
  }
}
