*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 754px;
  top: 212px;
  width: 91px;
  height: 21px;
	z-index: 5;
}

.option1 {
	animation: option1 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes option1 {
  0% {
  left: 774px;
  top: 219px;
  width: 93px;
  height: 21px;
  }

  100% {
  left: 181px;
  top: 258px;
  width: 71px;
  height: 22px;
  }
}

.s1_3 {
	position: absolute;
  left: 748px;
  top: 326px;
  width: 98px;
  height: 22px;
	z-index: 5;
}

.option2 {
	animation: option2 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes option2 {
  0% {
  left: 748px;
  top: 326px;
  width: 98px;
  height: 22px;
  }

  100% {
  left: 179px;
  top: 295px;
  width: 70px;
  height: 24px;
  }
}

.s1_4 {
	position: absolute;
  left: 749px;
  top: 423px;
  width: 97px;
  height: 22px;
	z-index: 5;
}

.option3 {
	animation: option3 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes option3 {
  0% {
  left: 749px;
  top: 423px;
  width: 97px;
  height: 22px;
  }

  100% {
  left: 444px;
  top: 246px;
  width: 67px;
  height: 43px;
  }
}

.s1_5 {
	position: absolute;
  left: 750px;
  top: 513px;
  width: 95px;
  height: 22px;
	z-index: 5;
}

.option4 {
	animation: option4 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes option4 {
  0% {
  left: 750px;
  top: 513px;
  width: 95px;
  height: 22px;
  }

  100% {
  left: 486px;
  top: 296px;
  width: 72px;
  height: 25px;
  }
}

.s1_6 {
	position: absolute;
  left: 749px;
  top: 604px;
  width: 96px;
  height: 22px;
	z-index: 5;
}

.option5 {
	animation: option5 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes option5 {
  0% {
  left: 749px;
  top: 604px;
  width: 96px;
  height: 22px;
  }

  100% {
  left: 526px;
  top: 271px;
  width: 67px;
  height: 39px;
  }
}

.s1_7 {
	position: absolute;
	width: 1024px;
	height: 768px;
  	animation: slideInDown 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
    display: none;
	z-index: 10;
}