*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 190px;
  top: 41px;
  width: 644px;
  height: 109px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 212px;
  top: 176px;
  width: 622px;
  height: 33px;
	animation: slideInUp 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 0px;
  top: 231px;
  width: 342px;
  height: 84px;
	animation: slideInLeft 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 0px;
  top: 325px;
  width: 301px;
  height: 83px;
	animation: slideInLeft 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 0px;
  top: 419px;
  width: 301px;
  height: 83px;
	animation: slideInLeft 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 0px;
  top: 513px;
  width: 327px;
  height: 83px;
	animation: slideInLeft 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8w {
	position: absolute;
  left: 318px;
  top: 270px;
  width: 383px;
  height: 507px;
	animation: slideInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 383px;
  height: 507px;
	animation: swingIn 5s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 682px;
  top: 231px;
  width: 342px;
  height: 84px;
	animation: slideInRight 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 717px;
  top: 325px;
  width: 307px;
  height: 83px;
	animation: slideInRight 0.5s;
	animation-delay: 3.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 717px;
  top: 419px;
  width: 307px;
  height: 83px;
	animation: slideInRight 0.5s;
	animation-delay: 3.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 696px;
  top: 513px;
  width: 328px;
  height: 83px;
	animation: slideInRight 0.5s;
	animation-delay: 3.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 738px;
  top: 595px;
  width: 185px;
  height: 133px;
	animation: rollIn 0.7s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes swingIn {
  0%, 50%, 100% {
    opacity: 1;
	transform: translateX(-6px) rotateZ(-2deg);
  }

  25%, 75% {
    opacity: 1;
	transform: translateX(-6px) rotateZ(3deg);
  }
}