* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.takeCover {
	position: absolute;
  left: 0px;
  top: 639px;
  width: 76px;
  height: 54px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 56px;
  top: 313px;
  width: 443px;
  height: 138px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 522px;
  top: 313px;
  width: 443px;
  height: 138px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 56px;
  top: 473px;
  width: 443px;
  height: 138px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 522px;
  top: 473px;
  width: 443px;
  height: 138px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}




.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 312px;
  top: 615px;
  width: 72px;
  height: 46px;
	animation: fllipInX 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 437px;
  top: 571px;
  width: 368px;
  height: 70px;
	animation: flashLong 4s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}